#root {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.text-block-container {
  display: flex;
}

.text-block {
  height: 200px;
  width: 100%;
  font-size: inherit;
}

@media only screen and (max-width: 768px) {
  .text-block-container {
    display: flex;
    flex-direction: column;
  }
}
